<!doctype html>
<html lang="en">
 <%- include('partials/footer') %>
 <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%- include('partials/top-nav') %>
          <main role="main" class="inner cover">
            <h1 class="cover-heading">Node Micro services app!</h1>
            <p class="lead">This is a simple microservice example built using Node, Express and Bootstrap 4!</p>
          </main>
          <%- include('partials/footer') %>
        </div>
      </div>
    </div>
    <%- include('partials/script') %>
 </body>
 </html>
