<!doctype html>
<html lang="en">
 <%- include('partials/html-head') %>
 <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <%- include('partials/top-nav') %>
          <main role="main" class="inner cover">
            <h3>Users</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Company</th>
                  <th scope="col">Address</th>
                  <th scope="col">Photo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </main>
          <%- include('partials/footer') %>
        </div>
      </div>
    </div>
    <%- include('partials/script') %>
 </body>
 </html>
